<!-- Here is to insert the person registration part. -->
<app-person></app-person>

<h2>Donor part</h2>

<div class="donor-appoinment">
  <div class="next-appoinment">
    <strong>Next appoinment: </strong>
    <p> {{ nextAppoinment }} </p>
  </div>
  <div class="donor-last-appoinment">
    <strong>Last donation: </strong>
    <p> {{ lastDonation }}</p>
  </div>
  <ul class="donor-list-apoinments">
    <li *ngFor="let appoinment of history">
      <div class="appoinment-day">
        <p>{{ appoinment }}</p>
      </div>
    </li>
  </ul>
</div>