<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:postgresql://localhost:5432/se
        </property>

        <property name = "hibernate.connection.username">
            postgres
        </property>

        <property name = "hibernate.connection.password">
            mamaliga1
        </property>

        <property name="hibernate.id.new_generator_mappings">
            false
        </property>

        <property name="hibernate.current_session_context_class">
            thread
        </property>

        <!-- SQL dialect -->
        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">
            1
        </property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">
            org.hibernate.cache.internal.NoCachingRegionFactory
        </property>

        <mapping class="ro.blooddonation.Domain.Address" />
        <mapping class="ro.blooddonation.Domain.Hospital" />
        <mapping class="ro.blooddonation.Domain.Donation" />
        <mapping class="ro.blooddonation.Domain.Request" />
        <mapping class="ro.blooddonation.Domain.Users.Donor" />
        <mapping class="ro.blooddonation.Domain.Users.Doctor" />
        <mapping class="ro.blooddonation.Domain.Users.Patient" />
        <mapping class="ro.blooddonation.Domain.Users.DCPMember" />

   </session-factory>
</hibernate-configuration>